# Секреты
.env

# База данных и кеш (не нужны в git, генерируются автоматически)
logs.db
cache.json
chroma_db/
__pycache__/
*.pyc
*.pyd

# Виртуальное окружение
.venv/
venv/

# Системные файлы
.idea/
.DS_Store